@import "reset.css";

body {
  font-weight: bold;
  padding: 0 10px;
}

h1 {
  background-color: antiquewhite;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

#layout {
  display: grid;
  grid-template-columns: 1fr 4fr;

  z-index: 1;
  margin-top: 10px;
}

#layout::after {
  /*배경만 opacity를 주고 싶을땐 가상선택자 사용*/
  width: 100%;
  height: 100vh;
  content: "";
  background: url("cherryblossom.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

ul {
  border: 3px solid pink;
  background-color: rgb(252, 206, 214, 0.5);
  margin: 0 auto;
  list-style: none;

  width: fit-content;
  height: fit-content;
}

ul > li {
  width: 130px;
  height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul > li:hover {
  background-color: rgb(255, 139, 159);
  cursor: pointer;
}

a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

#layout > div {
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
  padding: 15px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
}

.read {
  color: gray;
}

#now {
  color: red;
}

img {
  width: 300px;
}

@media (max-width: 700px) {
  #layout {
    width: auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #layout > div {
    margin-left: 0;
  }

  ul > li {
    /* padding: 10px 25px; */
    width: 100%;
  }

  ul > li:hover {
    width: 100%;
  }

  img {
    width: 200px;
  }
}
