h1 {
  background-color: antiquewhite;
  margin: 0;
  padding: 20px;
  text-align: center;
}

ul {
  /* width: 80px; */
  margin: 5px;
  margin-right: 20px;
  border: 1px solid;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}
.read {
  color: gray;
}
#now {
  color: red;
}

#layout {
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: 180px auto;
}

img {
  width: 300px;
}

@media (max-width: 600px) {
  ul {
    height: 252px;
  }

  #layout {
    display: grid;
    grid-template-columns: auto auto;
  }
}
